body {
    font-family: Mon, Arial, Helvetica, sans-serif;
}
#checkout-title {
    text-align: center;
    font-size: 32px;
}
h1 {
    font-weight: 700;
}
main {
    width: 900px;
    margin: 35px auto;
    display: flex;
}
form {
    position: relative;
    width: 372px;
    height: 618px;
    margin-right: 100px;
}
form h1 {
    font-size: 18px;
    color: #333333;
}
label {
    font-size: 12px;
    margin: 10px 0;
    color: #4F4F4F;
}
#contact-information {
    height: 167px;
    width: 100%;
}
.campo {
    position: relative;
    height: 60px;
    width: 100%;
    margin: 10px 0;
    /* border: 5px solid black; */
}
input {
    width: 100%;
    height: 16.8px;
    margin: 10px 0;
    padding: 8px 5px 8px 35px;
    border: 1px solid #828282;
}
.fas {
    position: absolute;
    top: 38px;
    left: 9px;
    opacity: 0.5;
}

#shipping-address {
    margin-top: 50px;
}
#country-field {
    margin: 20px 7px 0px 0;
    display: inline-block;
    width: 118px;
    height: 70px;
}
#postal-code-field {
    margin: 10px 0;
    display: inline-block;
    width: 216px;
    height: 70px;
}
#user-country {
    width: 119px;
    height: 35px;
    padding: 8px 5px 8px 35px;
    margin-top: 10px;
}
.fa-globe-europe {
    top: 38px;
}
input, select {
    border-radius: 5px;
}
input[type="checkbox"]{
    width: 13px;
    height: 13px;
}
.campo.last {
    height: 28px;
    margin: 0;
}

#products-preview {
    position: relative;
    width: 290px;
}
#product-painel {
    background-color: #EEE;
    width: 100%;
    height: 368px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.product {
    margin: 10px 0;
    width: 100%;
    position: relative;
    display: flex;
}
img {
    width: 96px;
    height: 111px;
    margin-right: 20px;
    border-radius: 10px;
}
.product-info {
    width: 204px;
    height: 111px;
}
h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    color: #4E5150;
}
.product p {
    margin: 5px 0;
}
strong {
    color: #F2994A;
}
.line-through {
    color: #4E5150;
    font-size: 12px;
    text-decoration: line-through;
}
.quantity-controller {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #888;
    border-radius: 5px;
    width: 102px;
    height: 36px;
}
.quantity-controller p {
    font-size: 12px;
    font-weight: 500;
}
.product button {
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    height: 26px;
    width: 20px;
    margin: 5px 0;
    padding: 5px;
    position: relative;
}
.fa-minus, .fa-plus {
    top: 6px;
    left: 4px;
    opacity: 1;
}
.buy-detail {
    border-top: 1px solid #BDBDBD;
    width: 288px;
    height: 20px;
    margin: 50px 0 5px;
    display: flex;
}
.buy-detail p {
    flex: 1;
    height: 100%;
    margin: 0;
}
.buy-detail p:nth-child(2) {
    text-align: right;
}
#total {
    margin-top: 5px;
}

#btn-submit {
    position: absolute;
    right: -120px;
    bottom: -40px;
    font-weight: 600;
    text-align: center;
    background-color: #F2994A;
    color: #FFF;
    border: none;
    border-radius: 10px;
    height: 44px;
    width: 74px;
    padding: 14px 0;
}